
  .tabs-titles{
    list-style: none;
    padding: 0px;
    margin: 0;
    
  }
  
  .tab-title{
    background-color: gray;
    display: inline-block;
    padding: 10px;
    color: black;
    cursor: pointer;
    margin-left:1px;
  }
  
  .tab-title--active {
    background-color:gray;
    color: rgb(255, 255, 255);
    font-size: 150%;
  }
  
  .tab-content{
    background-color: rgb(83, 83, 83);
    padding: 5px;
    margin: 0;
    color: aliceblue;
  }