/* .warpper-upper-section{
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.image1{
    border-radius: 0% 0% 0% 45%;
    z-index: -1;
    margin-top: -5%;
}

.wrapper-title{
    margin-left: 20%;
    margin-top: 2%;
    font-size: 150%;
    height: 0%;
}

.wrapper-title .second-title{
    color: red;
}

.wrapper-title:hover{
    color: red;
    padding: 1%;
    background-color: #000000;
    border: 1px solid white;
    font-size: 130%;
    margin-top: 1%;
    margin-left: 19%;
}

.wrapper-nav-bar{
    margin-top: 2%;
    margin-left: 60%;
    width: 30%;
    position: absolute;
    height: 0%;
}

.wrapper-nav-bar span{
    font-size: 150%;
    margin-right: 10%;
    color: white;
}

.wrapper-nav-bar span:hover{
    color: white;
    padding: 2%;
    background-color: #3d3d3d;
    border: 1px solid white;
    font-size: 130%;
    height: 0%;
    margin-right: 8%;
    
}

.wrapper-second-container{
    text-align: left;
    display: block;
    width: 30%;
    margin-top: -28%;
    margin-left: 15%;
    padding-bottom: 11%;
}

.wrapper-second-container span{
    display: block;
    font-size: 410%;
    font-weight: 700;
    
}

.wrapper-second-container .second-title{
    font-size: 150%;
    color: gray;
    width: 80%;
    font-weight: 100;
}

.wrapper-third-container{
    margin-left: 14%;
    width: 65%;
    height: auto;
}

.third-container{
    margin-top: 16%;
    text-align: right;
    display: flex;
}

.third-container span{
    display: block;
}

.third-container .textdiv{
    width: 100%;
    margin-left: 27%;
    margin-top: 7%;
    padding-right: 4%;
}

.secondImg{
    width: 46%;
    margin-left: 8%;
}

.heading{
    font-weight: 700;
    font-size: 150%;
} */