 .header-Title{
    background-color: rgb(39, 26, 26);
} 


.header-Container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.header-Container-left{
    display: block;
    padding: 1%;
    margin-left: -9%;
    width: 35%;
 
}

.header-Container-Right{
    display: block;
    padding: 1%;
    width: 30%;
}

.home-btn{
    border: 0.5px solid white;
    background: none;
    padding: 3% 5% 3% 5% ;
    color: white;
    font-weight: 800;
}